@(conceptoFinal: ConceptoFinal, idPadre: String)(noComplejoLocal: NoComplejoBase)
@import views.html.mv.helpers._
@import Utils._
@defining(generarId(idPadre,conceptoFinal.concepto.id)){ case (idModel, idName) =>
<div class="panel panel-default" @addAtributosComunes(conceptoFinal)>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#@idName">@{conceptoFinal.concepto.id.capitalize}</a>
            <button class="down_icon" type="button" data-toggle="collapse" data-parent="#accordion"
                    data-target="#@idName">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </button>
            <button class="alert_icon" type="button" data-toggle="modal" data-target="#modalInconsistencias" ng-show="">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
            </button>
        </h4>
    </div>
    <div id="@idName" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="form-group">
                @for(atributo <- ordenarConceptoFinalPorPosicion(conceptoFinal.atributos)){
                @if(atributo.concepto.tipo == "complejo"){ @{ComplejoBasico(atributo, idName)(noComplejoLocal)} } else {
                @{noComplejoLocal(atributo, idName)} }
                }
            </div>
        </div>
    </div>
</div>
}