@(conceptoFinal : ConceptoFinal, nombreNegocio: String, version: Int = 1)(implicit flash: Flash)
<script src="/javascripts/dinamicos/@nombreNegocio/mainController.js"></script>

<form action="/dinamico" method="POST" >
    <button type="button" class="btn btn-primary btn-lg" ng-click="cotizar()">Cotizar</button>
    <button type="button" class="btn btn-primary btn-lg" ng-click="expedir()">Expedir</button>
    <button type="submit" class="btn btn-primary btn-lg"  style="float:right">Configurar</button>
    <a href="/negocios/@nombreNegocio/configuracion" class="btn btn-primary btn-lg" style="float:right">Configurar</a>
    <label style="float:right;">Version: @version</label>
    <label style="color:#43CF15;">@flash.get("success")</label>
    @complejo(conceptoFinal, "root")
</form>